language: c
script: bash -ex .travis-ci.sh
env:
  - OCAML_VERSION=4.06.1
  - OCAML_VERSION=4.05.0
  - OCAML_VERSION=4.04.0
notifications:
  email:
    - beluga-dev@cs.mcgill.ca
  irc:
    channels:
      - "chat.freenode.net#beluga"
    on_success: always
    on_failure: always
addons:
  apt:
    sources:
      - avsm
    packages:
      - ocaml
      - opam
      - zsh
cache:
  directories:
    - $HOME/.opam