    language: c
    script: bash -ex .travis-ci.sh\
    sudo: required
    env:
      - OCAML_VERSION=4.02.1    
      - OCAML_VERSION=4.01.0
      - OCAML_VERSION=4.00.1
    notifications:
      email:
        - beluga-commit@cs.mcgill.ca
      #irc: # reenable this when n mode is removed from #beluga channel
      #  channels: 
      #    - "chat.freenode.net#beluga"       
      #  on_success: change
      #  on_failure: change
      #  skip_join: true 
    