language: c
os:
  - linux
# See https://opam.ocaml.org/doc/Install.html#Ubuntu
# for the reason why bionic(18.04) is used
dist: bionic
env:
  global:
    OPAMYES: true
    OPAMVERBOSE: 1
  jobs:
    - OCAML_VERSION=4.07
    - OCAML_VERSION=4.08
    - OCAML_VERSION=4.09
notifications:
  email:
    - beluga-dev@cs.mcgill.ca
  irc:
    channels:
      - "chat.freenode.net#beluga"
    on_success: always
    on_failure: always

# See https://docs.travis-ci.com/user/installing-dependencies/#installing-packages-with-the-apt-addon
addons:
  apt:
    packages: opam
    sources:
      - sourceline: ppa:avsm/ppa
    update: true
cache:
  directories:
    - $HOME/.opam
before_install: ci/travis-ci-before-install.sh
install: ci/travis-ci-install.sh
script: ci/travis-ci-build.sh
